body {
    display: flex;
    justify-content: center;
    min-width: 310px;
}

.container-main {
    width: 100%;
    max-width: 800px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr;

    font-family: "Comic Sans MS";
}

.header-div {
    border-bottom: solid #888888;
    border-width: thin;
    margin: 20px 10%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3fr 1fr;
}

.header-label-div {
    grid-column: 1 / 2;

    font-size: 2em;
    /* white-space: nowrap; */
    color: #120136;
    text-align: center;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.header-contact-div {
    grid-column: 0 / 1;
    place-self: center;

    text-align: center;
    margin-bottom: 20px;
}

.header-contact-div a img {
    width: 20px;
}

a:link {
    text-decoration: none;
}

.links {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: min-content;

    justify-self: center;

    width: 80%;
    text-align: center;
}

.row-title {
    grid-column: 1;
}

.row-title h3 {
    margin: 1rem 0.25rem;
}

.row-description {
    grid-column: 2;
    margin: 1rem;
}
