.container-main {
    width: 100%;
    height:auto;
    min-height: 400px;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr;

    font-family: "Comic Sans MS";
}

.header-div {
    border-bottom: solid #888888;
    border-width: thin;
    margin: 20px 10%;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3fr 1fr;
}

.header-label-div{
    grid-column: 1 / 2;
     
    font-size: 2em;
    /* white-space: nowrap; */
    color: #120136;
    text-align: center;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}

.header-contact-div {
    grid-column: 0 / 1;
    place-self: center;

    text-align: center;
    margin-bottom: 10px;
}

a:link {
    text-decoration: none;
}

.links-div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.site-header > h3 {
    color: #120136;
    font-size: 1em;
    text-align: center;
    opacity: 0;
    margin-bottom: 0;
}

.site-content {
    border: solid #888888;
    border-width: thin;
    border-radius: 10px;
    padding: 15px;

    position: relative;

    width: 12em;
    height: 12em;
}

.site-content > a > img {
    width: 12em;
    height: 12em;
    opacity: 1;
}

.sit-div-hover {
    opacity: 0;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

    color: #120136;
    font-weight: bold;
    font-size: 2.5em;
}

.site-div:hover a > img {
    opacity: 0.2;
}

.site-div:hover .sit-div-hover {
    opacity: 1;
    transition: .5s ease;
}

/* .site-div-text {
    color: #1b1b2f;
    font-weight: bold;
    font-size: 2em;
} */

@media only screen and (max-width: 1030px) {
    .site-header > h3 {
        opacity: 1;
    }
}